body {
  font-family: 'Mina', sans-serif; /* Устанавливаем шрифт для всего документа */
}

#root {
  display: flex; /* Размещаем корневой элемент в режиме flex */
  flex-direction: row; /* Располагаем элементы в строку */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: center; /* Выравниваем элементы по центру горизонтально */
}

.video {
  width: 460px; /* Задаем ширину блока видео */
  margin: 10px; /* Задаем внешние отступы для блока видео */
  padding: 10px 10px 1px; /* Задаем внутренние отступы для блока видео */
  background: #000000; /* Задаем цвет фона для блока видео */
}

.video iframe {
  display: block; /* Делаем iframe блочным элементом */
  margin: 0 auto; /* Выравниваем iframe по центру горизонтально */
  width: 460px; /* Задаем ширину iframe */
  height: 240px; /* Задаем высоту iframe */
  border: none; /* Убираем границу у iframe */
}

.video .date {
  margin: 6px 0 0 0; /* Задаем отступы сверху, справа, снизу и слева для текста даты */
  text-align: right; /* Выравниваем текст даты по правому краю */
  font-size: 80%; /* Задаем размер шрифта для текста даты */
  color: #cccccc; /* Задаем цвет текста даты */
}
